*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.d-flex{
    display: flex;
   
}



main{
    justify-content: flex-end;
}

.logo-box{
    align-items: center;
    height: 100%;
    position: fixed;
    left: 0;
}



h1{
    font-family: 'Anton';
    font-size: 154px;
    padding-left: 40px;
    
}



.line { 
    border-top: 24px solid black;
    width: 600px;
    height: 24px;
    margin-left: 4%;
}


.bio{
    margin: 20px;
    display: block;
    font-family: 'Courier Prime';
    font-size: 12px;
    line-height: 16px;
    

}
   
   
.profile-img{
    margin: 160px 136px 20px 20px;
}

